@import "tailwindcss";
@plugin "daisyui" {
  themes: business --default;
}

@plugin "daisyui/theme" {
  name: "business";
  default: true;
  prefersdark: true;
  color-scheme: "dark";
  --color-base-100: oklch(0.278 0 0);
  --color-base-200: oklch(0.219 0 0);
  --color-base-300: oklch(0.164 0 0);
  --color-base-content: oklch(98% 0.001 106.423);
  --color-primary: oklch(58% 0.158 241.966);
  --color-primary-content: oklch(98% 0.001 106.423);
  --color-secondary: oklch(55% 0 0);
  --color-secondary-content: oklch(92% 0 0);
  --color-accent: oklch(58% 0.158 241.966);
  --color-accent-content: oklch(98% 0.001 106.423);
  --color-neutral: oklch(37% 0 0);
  --color-neutral-content: oklch(98% 0.001 106.423);
  --color-info: oklch(58% 0.233 277.117);
  --color-info-content: oklch(98% 0.001 106.423);
  --color-success: oklch(59% 0.145 163.225);
  --color-success-content: oklch(98% 0.001 106.423);
  --color-warning: oklch(70% 0.213 47.604);
  --color-warning-content: oklch(98% 0.001 106.423);
  --color-error: oklch(50% 0.213 27.518);
  --color-error-content: oklch(98% 0.001 106.423);
  --radius-selector: 1rem;
  --radius-field: 1rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}
